/* Palete de colores desde https://www.instagram.com/peosrosados/ */
/* Usando https://www.coolors.co/ para sacar variaciones de colores */
/* Agradecimientos a pecas por la paleta */
:root {
  /* Colores Basicos */
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  /* Colores Principales */
  --arylide-yellow: rgba(232, 207, 86, 1);
  --thistle: rgba(233, 207, 252, 1);
  --non-photo-blue: rgba(187, 236, 253, 1);
  --lavender-pink: rgba(252, 173, 204, 1);

  /* Colores especificos por tema */
  /* Tema Claro */
  --title-light: var(--lavender-pink);
  --subtitle-light: var(--lavender-pink);
  --link-light: var(--arylide-yellow);
  --link-hover-light: var(--thistle);
  /* Tema Oscuro */
  --title-dark: var(--lavender-pink);
  --subtitle-dark: var(--lavender-pink);
  --link-dark: var(--thistle);
  --link-hover-dark: var(--non-photo-blue);

  /* Extras */
  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);
}

/* Variables Generales */
/* Tema Claro */
:root {
  --color-background: var(--non-photo-blue);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-heading: var(--title-light);
  --color-text: var(--black-soft);

  --color-link: var(--link-light);
  --color-link-hover: var(--link-hover-light);

  /* Componentes */
  --color-card-bg: var(--white-soft);
  --color-card-shadow: linear-gradient(90deg, var(--color-background) 0%, rgba(0, 0, 0, 1) 100%);

  --icon-btn-theme: url('../icons/thorn-spike-heart.png');
  --icon-btn-top: -5px;
}
/* Tema Oscuro */
:root.dark {
  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-heading: var(--title-dark);
  --color-text: var(--white-soft);

  --color-link: var(--link-dark);
  --color-link-hover: var(--link-hover-dark);

  /* Componentes */
  --color-card-bg: var(--arylide-yellow);
  --color-card-shadow: linear-gradient(90deg, var(--color-background) 0%, 100%);

  --icon-btn-theme: url('../icons/crown-of-thornes.png');
  --icon-btn-top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
